@import "tailwindcss";

:root {
  /*color for buttons/elements*/
  --accent: #01d182; /* for buttons, links, etc. */
  --box-bg: #4ec0cf; /* Background color for content boxes/cards */
  --cta-bg: #13b789;  /* Background for call-to-action elements */
  --cta-hover: #17cfa5; /* Hover color for call-to-action buttons */
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #111827;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}